---
layout: default
---
<style>
    img{
        height:320px
    }
</style>

<h2>Big Projects</h2>
{% for project in site.big_projects %}
    <div>
        <a href="{{project.url}}">{{project.name}}</a>
        <img src={{"/assets/images/" | prepend: site.url | append: project.image}}/>
    </div>
    

{% endfor %}
<h2>Small Projects</h2>
{% for project in site.small_projects %}

<div>
    <a href="{{project.url}}">{{project.name}}</a>
    <img src={{"/assets/images/" | prepend: site.url | append: project.image}}/>
</div>
{% endfor %}
