.current{
  font-weight: bold;
}

nav li{
  list-style-type: none;
}
.project{
  display: flex;
  margin-bottom: 25px;
}
.project .caption{
  flex: 0 0 50%;
}

.project img{
  flex: 1;
}

.caption .btn{
  background-color: #159957;
}

.video{
  height:480px;
  width: 100%;
}